* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.margen {
    background-color:hsl(216, 50%, 16%);
    height: 25px;
    width: 350px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.imagen-nft {
    background: url("../images/image-equilibrium.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    height: 300px;
    width: 350px;
    background-color:hsl(216, 50%, 16%);
}

.content-nft {
    height: 250px;
    width: 350px;
    padding: 20px;
    background-color:hsl(216, 50%, 16%);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}


.image-nft {
    background: url("");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 200px;
}


h1 {
    font-size: 18px;
    font-family: "Outfit";
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

.text-content {
    margin-top: 20px;
    font-size: 18px;
    font-family: "Outfit";
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.info-nft {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: hsl(215, 51%, 70%) solid 0.1px ;
}

.price-nft {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    font-family: "Outfit";
    margin-bottom: 20px;
}

.timer-nft {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.footer {
    display: flex;
    color: hsl(215, 51%, 70%);
    font-family: "Outfit";
    font-weight: 300;
    margin-top: 10px;
}

.autor {
    margin-left: 10px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
}

.avatar {
    border: white solid 0.5px;
    border-radius: 100%;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px;
}

.creation {
    margin-top: 10px;
}
