* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
}

/* Main */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-nft {
  height: 550px;
  width: 330px;
  padding: 20px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
}

.image-equilibrium {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-size: contain;
  margin-bottom: 20px;
  width: 290px;
}

h1 {
  font-size: 18px;
  font-family: "Outfit";
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

.text-content {
  margin-top: 20px;
  font-size: 18px;
  font-family: "Outfit";
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.info-nft {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: hsl(215, 51%, 70%) solid 0.1px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  color: hsl(215, 51%, 70%);
  font-family: "Outfit";
  font-weight: 300;
  margin-top: 15px;
}

.price-nft {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
  font-family: "Outfit";
  margin-bottom: 20px;
}

.timer-nft {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

.autor {
  margin-left: 5px;
  font-weight: 400;
  color: white;
}

.avatar {
  border: white solid 0.5px;
  border-radius: 100%;
  margin-right: 10px;
  height: 25px;
}
