/* Selectores */
/* Selector de elemento jerarquia menor*/
h1 {
    color: green;
    background-color: beige;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
#div_temas {
    display: none;
}

.product_cell {
    border: 2px solid silver;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
/* > busca por dentro */
.laptop > h2 {
    color: blue;
}

.laptop > h3 {
    color: cadetblue;
    text-align: right;
    padding-right: 10px;
}

.celular > h2 {
    color: red;
}

.celular > h3 {
    color: purple ;
    text-align: right;
    padding-right: 10px;
}

.audifono > h2 {
    color: green;
}

.audifono > h3 {
    color: aqua ;
    text-align: right;
    padding-right: 10px;
}